

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
    color: #ff0080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  display: none;
}

div.home{
  height: 70vh;
  background-image: url(images/photo-1493397212122-2b85dda8106b.jfif);
  background-attachment: fixed;
    background-position: 100% 30%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 10px wheat;
}
  

.titlebar{
  width: 100%;
  margin: auto;
  height: 30px;
  bckground-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 22px;
  color: white;
  -webkit-transition: all .3s ease-in-out;
}

.titlebar:hover{
  color: wheat;
}

.nav{
  
  text-align: center;
  vertical-align: middle;
  position: absolute;
}

.box{
  overflow: hidden;
  float: left;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: solid thin rgba(245, 222, 179, 0);
  text-align: center;
  vertical-align: middle;
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-transition: all .3s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

a.link{
  padding: 10px 20px 10px 20px;
  color: inherit;
}

.box:hover, .active{
  background-color: rgba(255, 255, 255, 0.9);
  border: solid thin rgba(245, 222, 179, 1);
  color:wheat;
}

div.name{
  text-align:center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 40px;
}

div.icon{
  margin-top: -30px;
  padding-right: 30px;
  float: right;
  margin: -65px 0 0 0px;
  font-size: 40px;
}

.intro{
  font-size: 38px;
  letter-spacing: 5px;
  font-weight: bold;
  color: wheat;
  position: absolute;
  top: 50vh;
  padding-left: 5%;
  display: flex;
}

.header{
    text-decoration: none;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 300;
    padding: 10px;
    font-size: 50px;
}

.image-text{
    padding: 2%;
    font-size: 0.9vw;
    color: black;
    width: 45%;
    height: 80%;
    z-index: 2;
    margin: 50;
    position: relative;
    margin: 50px -50px 50px 100px;
    -webkit-transition: all .5s ease-in-out;
}

.image-text:hovr{
    background-color:  rgba(245, 222, 179, 0.55);
}

.image-overlay{
  border: solid 5px rgba(245, 222, 179, 1);
  opacity: 0.95;
  z-index: 1;
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}


.info{
    display: flex;
    align-items: center;
}

div.container{
  width: 70%;
  margin: auto;
  padding-top: 100px;
}

.button{
  overflow: hidden;
  float: left;
  width: 200px;
  height: 70px;
  color: white;
  background-color: rgba(245, 222, 179, 1);
  text-align: center;
  vertical-align: middle;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
}

.button:hover{
  background-color: rgba(245, 222, 179, 0.8);
}

img.resume{
  display: block;
  width: 90%;
  margin: auto;
  /* border: solid thin wheat; */
}

div.resume {
  margin: 0px 60px 0px 0px;
  letter-spacing: 40px;
  font-size: 50px;
}


