:root {
  --colour-theme: #a9b4c2; 
  --filter-theme: invert(62%) sepia(26%) saturate(263%) hue-rotate(149deg) brightness(90%) contrast(87%); 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
    color: #ff0080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar{
  display: none;
}

div.home{
  height: 99vh;
  background-attachment: fixed;
    background-position: 100% 30%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 10px var(--colour-theme);
}

#home{
  background-image: url('./images/9hgan8ehx2211.jpg');
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}
  

.titlebar{
  width: 100%;
  margin: auto;
  height: 30px;
  /* background-color: white; */
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 17px;
  color: white;
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}

.nav{
  
  text-align: center;
  vertical-align: middle;
  position: absolute;
}

button.box{
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  float: left;
  height: 60px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 3px rgba(245, 222, 179, 0);
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  margin: 0px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

a.link{
  padding: 10px 10px 10px 10px;
  color: inherit;
}

.box:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 3px var(--colour-theme);
  box-shadow: 0 3px 5px 0 rgba(154,160,185,.05), 0 10px 20px 0 rgba(166,173,201,.2);
  color:var(--colour-theme);
}

.alpha{
  /* background-color: rgba(255, 255, 255, 0.2) !important; */
  border: solid 3px var(--colour-theme) !important;
  /* box-shadow: 0 3px 5px 0 rgba(154,160,185,.05), 0 10px 20px 0 rgba(166,173,201,.2); */
  color:var(--colour-theme) !important;
}

div.name{
  text-align:center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 40px;
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}

div.name:hover{
  color: var(--colour-theme);
  
}

div.icon{
  font-size: 40px;
  position: absolute;
  top: 29px;
  right: 20px;

  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}

div.icon:hover{
  color: var(--colour-theme);
}

.intro{
  font-size: 38px;
  letter-spacing: 5px;
  font-weight: bold;
  color: var(--colour-theme);
  position: absolute;
  bottom: 200px;
  padding-left: 5%;
  display: flex;
  /* text-shadow: 2px 2px 4px #000000ba; */
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}

.header{
    text-decoration: none;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 300;
    padding: 10px;
    font-size: 50px;
}

.image-text{
    padding: 2%;
    font-size: 16px;
    color: black;
    width: 45%;
    height: 80%;
    z-index: 2;
    margin: 50;
    position: relative;
    margin: 50px -50px 50px 100px;
    -webkit-transition:   all .5s ease-in-out;
      -moz-transition:  all .5s ease-in-out;
       -ms-transition:  all .5s ease-in-out;
        -o-transition:  all .5s ease-in-out;
           transition:  all .5s ease-in-out;
}

/* .image-text:hover{
    background-color:  rgba(245, 222, 179, 0.55);
} */

.image-overlay{
  border: solid 8px var(--colour-theme);
  opacity: 0.95;
  z-index: 1;
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 0.5em;
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}


.info{
    display: flex;
    align-items: center;
}

div.container{
  width: 75vw;
  margin: auto;
  padding-top: 100px;
}

.button{
  overflow: hidden;
  float: left;
  width: 200px;
  height: 70px;
  text-shadow: none;
  color: white;
  background-color: var(--colour-theme);
  text-align: center;
  vertical-align: middle;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition:   all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
       -ms-transition:  all 1s ease-in-out;
        -o-transition:  all 1s ease-in-out;
           transition:  all 1s ease-in-out;
}

.button:hover{
  opacity: 0.7;
}

img.resume{
  display: block;
  width: 90%;
  margin: auto;
  /* border: solid thin var(--colour-theme); */
}

div.resume {
  margin: 0px 60px 0px 0px;
  letter-spacing: 40px;
  font-size: 50px;
}

.fadeA {
  opacity: 0;
}

.flex{
  display: flex;
}

.fade {
  animation: fade-in-keyframes 1s;
}

@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}

ul {
  float:left; 
  list-style-type: none;
}

li {
  color: black;
  font-size: 2vw;
  padding: 40px;
  text-transform: uppercase;
  letter-spacing: 0.7vw;
  display: flex;
}

.chaWall{
  position: absolute;
  display: flex;
  height: 100px;
  right: 50px;
  bottom: 20px;
  justify-content: center;
  align-items: center;
}

img.wallpaper {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: solid 3px white;
  border-radius: 3em;
  /* box-shadow: 0 3px 5px 0 rgba(154,160,185,.05), 0 10px 20px 0 rgba(166,173,201,.2); */

  -webkit-transition:   all .3s ease-in-out;
      -moz-transition:  all .3s ease-in-out;
       -ms-transition:  all .3s ease-in-out;
        -o-transition:  all .3s ease-in-out;
           transition:  all .3s ease-in-out;
}

img.wallpaper:hover {
  /* width: 65px;
  height: 65px; */
  border: solid 3px var(--colour-theme);
}

.WPS{
  width: 80px;
  height: 80px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 10px
}

.chaCol{
  position: absolute;
  display: flex;
  height: 50px;
  left: 80px;
  bottom: 45px;
  justify-content: center;
  align-items: center;
}

.colour {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: solid 3px white;
  border-radius: 2em;
  /* box-shadow: 0 3px 5px 0 rgba(154,160,185,.05), 0 10px 20px 0 rgba(166,173,201,.2); */

  -webkit-transition:   all .3s ease-in-out;
      -moz-transition:  all .3s ease-in-out;
       -ms-transition:  all .3s ease-in-out;
        -o-transition:  all .3s ease-in-out;
           transition:  all .3s ease-in-out;
}

.colour:hover {
  /* width: 35px;
  height: 35px; */
  border: solid 3px var(--colour-theme);
}

.CS{
  width: 50px;
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 10px
}

@media screen and (max-width: 613px){
  div.icon{
      display: none;
  }
}


@media screen and (max-width: 680px){
  .chaCol{
      display: none !important;
  }

  .chaWall{
      display: none !important;
  }

  div.resume{
    font-size: 8vw;
  }
}


@media screen and (max-width: 1200px){
  .image-overlay{
      width: 350px !important;
      display: flex;
  }


  .info {
      flex-wrap: wrap;
  }

  .image-text{
    width: 100%;
    margin: 50px 0px 50px 0px;
  }

  .inner{
    width: 100%
  }

  .button-resume{
    position: absolute;
    top: 80px;
  }
}

@media screen and (max-width: 500px){
  .image-overlay {
      width: 270px !important;
  }
}

@media screen and (max-width: 900px){
  img.resume{
    width: 100%;
    position: absolute;
    left: 0;
  }

  .chaCol{
    left: inherit;
    right: 75px;
    bottom: 110px
  }

}


@media screen and (max-width: 850px){
  .box-in{
      width: 100%;
      padding: 15px 0px 15px 0px;
  }
}

@media screen and (max-width: 750px){
  div.title{
    display: none;
  }
}

@media screen and (max-width: 700px){
  .contact-text{
    font-size: 3vw;
    padding-right: 20px;
  }

  img.icy {
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (max-width: 499px){
  .github-cont{
    position: absolute;
    left: 5vw;
    top: 60px;
    margin: 0;
  }
}

@media screen and (max-width: 600px){
  .project-gallery{
    position: absolute;
    left: 0;
    width: 100%;
    margin: auto;
  }
}

